.hero {
	background-color: #0f3d3e;
	padding: 3rem 1.5rem;
	color: #fde68a;
  font-family: sans-serif;
}
.hero .btn {
	background-color: fde68a;
	color: #0f172a;
}
.card {
	background-color: lightblue;
	color: #1e293b;
	padding: 2em 1.5em;
	margin: 1.5rem;
}
